<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <!-- Title -->
        <div class="text-3xl font-semibold tracking-tight">Créditos Consumo</div>

        <!-- Actions -->
        <div class="mt-6 flex w-full shrink-0 flex-col items-center sm:ml-4 sm:mt-0 sm:flex-row sm:space-x-2 sm:w-auto">
            <!-- Search -->
            <mat-form-field
                class="fuse-mat-dense rounded-lg w-full sm:w-auto min-w-64"
                [subscriptSizing]="'dynamic'"
            >
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:magnifying-glass'"
                ></mat-icon>
                <input
                    matInput
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar'"
                    (input)="onSearch($event)"
                />
            </mat-form-field>
            <button
                class="mt-2 w-full bg-crediblue-50 rounded-lg transition duration-200 text-white font-semibold sm:ml-4 sm:mt-0 sm:w-auto"
                mat-flat-button
                [color]="'primary'"
                (click)="onNew()"

            >
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Registrar</span>
            </button>
            <!-- Add product button -->
            <button
                class="sm:w-auto w-full sm:mt-0 mt-2 rounded-lg transition duration-200 text-white font-semibold"
                mat-flat-button
                [color]="'primary'"
                [ngClass]="{'bg-green-700': data.length, 'bg-credigray-100': !data.length}"
                [disabled]="!data.length"
                (click)="exportToExcel(data)"
            >
                <span> Exportar </span>
            </button>
        </div>

    </div>

    <!--Main-->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div
            class="flex flex-auto flex-col overflow-hidden sm:overflow-y-auto bg-gray-100"
        >
            @if(data.length > 0) {
                <app-custom-table
                    [columns]="columns"
                    [displayedColumns]="columns"
                    [columnPropertyMap]="columnPropertyMap"
                    [data]="data"
                    [buttons]="buttons"
                    [searchTerm]="searchTerm"
                    [getRowClassesFunction]="getRowClassesForUser"
                ></app-custom-table>
            } @else {
                <div class="inset-0 min-w-0 overflow-auto print:overflow-visible">
                    <div class="inline-block p-4 sm:p-2 print:p-0 w-full">
                        <fuse-alert
                            [type]="'info'"
                            [appearance]="'outline'">
                            <span fuseAlertTitle>Información</span>
                            No hay información hasta el momento.
                        </fuse-alert>
                    </div>
                </div>
            }


        </div>

    </div>

</div>



