<div class="w-full sm:bg-card sm:rounded-2xl sm:mx-0 mx-auto" >
    <div
        class="mt-8 text-3xl font-semibold leading-tight tracking-tight text-center"
    >
       Escanea el QR
    </div>
    <div class="flex flex-col justify-center sm:flex-row ">
        <qr-code [value]="qrData"
                 size="200"
                 errorCorrectionLevel="M"></qr-code>
    </div>

    <div class="flex flex-wrap justify-center">
        <button
            class="sm:w-auto w-full sm:mt-6 bg-crediorange-100 rounded-lg transition duration-200 text-white font-semibold"
            mat-flat-button
            [color]="'primary'"
            mat-dialog-close
            [mat-dialog-close]="true"
        >

            <span> Cancelar </span>
        </button>
    </div>

</div>
