<div class="w-full sm:bg-card sm:rounded-2xl sm:mx-0 mx-auto" >
    <div class="">
        <!-- Title -->
        <div
            class="mt-8 text-3xl font-semibold leading-tight tracking-tight text-center"
        >
           {{_matData.edit ? 'Actualizar empresa' : 'Agregar empresa'}}
        </div>

        <!-- Sign Up form -->
        <form class="mt-8" [formGroup]="form">
            <div class="flex mb-4 gap-2">
                <!-- Name field -->
                <mat-form-field class="w-full" floatLabel="always">
                    <mat-label>Nit</mat-label>
                    <input id="nit" matInput [formControlName]="'nit'" placeholder="Nit"/>
                </mat-form-field>

                <!-- Email field -->
                <mat-form-field class="w-full" floatLabel="always">
                    <mat-label>Razón social</mat-label>
                    <input matInput [formControlName]="'razonSocial'" placeholder="Razón social"/>
                </mat-form-field>
            </div>

            <div class="flex mb-4 gap-2">
                <!-- Company field -->
                <mat-form-field class="w-full" floatLabel="always">
                    <mat-label>Correo</mat-label>
                    <input
                        matInput
                        [formControlName]="'correo'"
                        placeholder="Correo electronico"
                    />
                </mat-form-field>

                <!-- Company field -->
                <mat-form-field class="w-full" floatLabel="always">
                    <mat-label>Teléfono</mat-label>
                    <input
                        matInput
                        [formControlName]="'telefono'"
                        placeholder="Teléfono"
                    />
                </mat-form-field>
            </div>

            <div class="flex mb-4 gap-2">

                <mat-form-field  class="w-full" floatLabel="always">
                    <mat-label>Departamento</mat-label>
                        <mat-select
                            #data
                            (selectionChange)="onSelected($event)"
                            [formControlName]="'idDepartamento'"
                            placeholder="Departamento"
                        >
                            <ng-container *ngIf="departamentos$ | async as departamentos">
                                <mat-option [value]="departamento.id" *ngFor="let departamento of departamentos.data">{{departamento.nombre}}</mat-option>
                            </ng-container>
                        </mat-select>
                </mat-form-field>

                <mat-form-field  class="w-full" floatLabel="always">
                    <mat-label>Ciudad</mat-label>
                        <mat-select [formControlName]="'idMunicipio'" placeholder="Ciudad">
                            <ng-container *ngIf="municipios$ | async as municipios">
                                <mat-option [value]="municipio.id" *ngFor="let municipio of municipios.data">{{municipio.nombre}}</mat-option>
                            </ng-container>
                        </mat-select>
                </mat-form-field>

            </div>

            <div class="flex mb-4 gap-2">
                <!-- Company field -->
                <mat-form-field class="w-full" floatLabel="always">
                    <mat-label>Dirección</mat-label>
                    <input
                        matInput
                        [formControlName]="'direccion'"
                        placeholder="Dirección"
                    />
                </mat-form-field>
            </div>

            <!-- Submit button -->
            <div class="flex flex-wrap justify-end gap-2.5 ">
                <button
                    class="fuse-mat-button-large mt-6 bg-credigray-100 rounded-lg transition duration-200 text-white font-semibold"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="closeDialog()"
                >

                   <span> Cancelar </span>
                </button>

                <button
                    class="fuse-mat-button-large mt-6 bg-crediblue-50 rounded-lg transition duration-200 text-white font-semibold"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="onSave()"
                >

                   <span> {{_matData.edit ? 'Actualizar' : 'Guardar'}} </span>
                </button>

            </div>
        </form>

    </div>

</div>


