<div class="absolute inset-0 min-w-0 overflow-auto print:overflow-visible" cdkScrollable>

    <div class="inline-block p-6 sm:p-10 print:p-0 w-full">
        <div class="bg-card shadow print:bg-transparent print:p-0 print:shadow-none rounded-2xl mx-auto overflow-hidden w-full max-w-5xl" >
            <div class="bg-crediblue-50 px-6 py-4 flex items-center justify-between">
                <div>
                    <a mat-button [routerLink]="['/pages/gestion-creditos/creditos']" class="flex items-center">
                        <mat-icon [svgIcon]="'heroicons_outline:arrow-long-left'" class="text-white"></mat-icon>
                    </a>
                </div>
                <h2 class="text-lg sm:text-xl font-bold text-white">Detalle de Crédito</h2>
            </div>

            <div class="p-4 sm:p-6" *ngIf="items">
                <!-- Información del Cliente y Empresa -->
                <div class="mb-4 grid grid-cols-1 md:grid-cols-2 gap-4 justify-items-stretch lg:justify-items-center">
                    <div>
                        <h3 class="text-lg sm:text-xl font-semibold text-gray-800">{{items.trabajador.primerNombre}} {{items.trabajador.segundoNombre}} {{items.trabajador.primerApellido}} {{items.trabajador.segundoApellido}} </h3>
                        <p class="font-medium text-gray-600">Identificación:
                            <span class="text-md text-secondary ">{{items.trabajador.numDoc}}</span>
                        </p>
                        <p class="font-medium text-gray-600">Empresa:
                            <span class="text-md text-secondary ">{{items.nombreSubEmpresa}}</span>
                        </p>
                        <p class="text-gray-600 font-semibold">Cargo:
                            <span class="text-md text-secondary ">{{items.trabajador.cargo}}</span>
                        </p>
                        <p class="font-medium text-gray-600">Correo:
                            <span class="text-md text-secondary ">{{items.trabajador.correo}}</span>
                        </p>
                        <p class="font-medium text-gray-600">Dirección:
                            <span class="text-md text-secondary ">{{items.trabajador.direccion}}</span>
                        </p>
                        <p class="font-medium text-gray-600">Teléfono:
                            <span class="text-md text-secondary ">{{items.trabajador.telefono}}</span>
                        </p>
                    </div>

                    <div>
                        <p class="font-medium text-gray-600">Número de crédito:
                            <span class="text-md text-secondary ">{{items.numCredito }}</span>
                        </p>
                        <p class="font-medium text-gray-600">Cupo solicitado:
                            <span class="text-md text-secondary ">{{items.cupoSolicitado | currency}}</span>
                        </p>
                        <p class="font-medium text-gray-600">Fecha de Solicitud:
                            <span class="text-md text-secondary ">{{items.fechaCreacion | date:'dd/MM/yyyy' }}</span>
                        </p>
                    </div>
                </div>
                <hr>
                <div>
                    <p class="text-lg text-gray-600 font-bold mb-10">Información de Crédito</p>
                    <form [formGroup]="form">
                        <mat-form-field  class="w-full">
                            <mat-label>Tipo de pago</mat-label>
                            <mat-select
                                [formControlName]="'idTipoPago'"
                            >
                                <mat-option [value]="item.id" *ngFor="let item of data">{{item.nombre}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field  class="w-full">
                            <mat-label>Capital de inversión</mat-label>
                            <mat-select
                                [formControlName]="'idCapitalInversion'"
                            >
                                <mat-option [value]="item.id" *ngFor="let item of capital">{{item.detalleInversion + ' - ' + item.rubroInversion}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field  class="w-full">
                            <mat-label>Tasa de interes</mat-label>
                            <mat-select
                                [formControlName]="'idTasaInteres'"
                            >
                                <mat-option [value]="item.id" *ngFor="let item of tasas">{{item.porcentaje}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field  class="w-full">
                            <mat-label>Cantidad de cuotas</mat-label>
                            <input  matInput   [formControlName]="'cantCuotas'" mask="separator.0" thousandSeparator="." />
                        </mat-form-field>
                        <mat-form-field  class="w-full">
                            <mat-label>Cupo sugerido</mat-label>
                            <input  matInput  [readonly]="true" value="1000000" mask="separator.0" thousandSeparator="." />
                        </mat-form-field>
                        <mat-form-field  class="w-full">
                            <mat-label>Cupo aprobado</mat-label>
                            <input  matInput   [formControlName]="'cupoAprobado'" mask="separator.0" thousandSeparator="." />
                        </mat-form-field>
                        <mat-form-field  class="w-full">
                            <mat-label>Fecha de vencimiento</mat-label>
                            <input matInput [matDatepicker]="picker"  [formControlName]="'fechaVencimiento'">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field  class="w-full">
                            <mat-label>Fecha de corte</mat-label>
                            <input matInput [matDatepicker]="fechaCorte" [formControlName]="'fechaCorte'" >
                            <mat-datepicker-toggle  matIconSuffix [for]="fechaCorte"></mat-datepicker-toggle>
                            <mat-datepicker #fechaCorte></mat-datepicker>
                        </mat-form-field>

                    </form>

                </div>
                <!-- Acciónes -->
                <ng-container>
                    <div class="flex flex-wrap justify-end items-center mt-7 gap-2.5">
                        <button  mat-flat-button class="lg:w-auto w-full bg-crediorange-100 text-white font-semibold py-2 px-4 rounded-lg transition duration-200">
                            Rechazar
                        </button>
                        <button (click)="onSave()"  mat-flat-button class="lg:w-auto w-full bg-crediblue-50 hover:bg-crediblue-100 text-white font-semibold py-2 px-4 rounded-lg transition duration-200">
                            Aprobar
                        </button>
                    </div>
                </ng-container>

            </div>

        </div>

    </div>

</div>
