<div
    class="relative min-w-0 flex h-full w-full flex-col dark:bg-transparent sm:overflow-hidden sm:inset-0"
>
    <div
        class="relative flex flex-0 flex-col px-6 py-6 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <div class="text-3xl font-semibold tracking-tight">Dashboard de Rentabilidad e Intereses</div>

    </div>
    <div class="inline-block p-4 sm:p-2 print:p-0 w-full">
        <div class="flex flex-row h-auto justify-center p-3">
            <ng-container *ngIf="chartOptions?.series.length > 0; else noData">
                <apx-chart
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [labels]="chartOptions.labels"
                    [responsive]="chartOptions.responsive"
                    [title]="chartOptions.title">
                </apx-chart>
            </ng-container>
            <ng-template #noData>
                <div class="inset-0 min-w-0 overflow-auto print:overflow-visible">
                    <div class="inline-block p-4 sm:p-2 print:p-0 w-full">
                        <fuse-alert
                            [type]="'info'"
                            [appearance]="'outline'">
                            <span fuseAlertTitle>Información</span>
                            No hay información para mostrar hasta el momento.
                        </fuse-alert>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>


</div>
