<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <div
        class="relative flex flex-0 flex-col px-6 py-6 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <!-- Title -->
        <div class="text-3xl font-semibold tracking-tight">Solicitudes</div>

        <!-- Actions -->
        <div class="mt-6 flex w-full shrink-0 flex-col items-center sm:ml-4 sm:mt-0 sm:flex-row sm:space-x-2 sm:w-auto">
            <!-- Search -->
            <mat-form-field
                class="fuse-mat-dense rounded-lg w-full sm:w-auto min-w-64"
                [subscriptSizing]="'dynamic'"
            >
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:magnifying-glass'"
                ></mat-icon>
                <input
                    matInput
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar'"
                />
            </mat-form-field>
            <!-- Add product button -->
        </div>


    </div>
    <div class="border-b flex flex-col justify-end mb-4 md:px-8 pb-4 px-6 shrink-0 sm:flex-row sm:w-auto w-full">
        <button
            class="sm:w-auto w-full sm:mt-6 bg-green-700 rounded-lg transition duration-200 text-white font-semibold"
            mat-flat-button
            [color]="'primary'"
        >

            <span> Exportar </span>
        </button>
    </div>

    <!--Main-->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div
            class="flex flex-auto flex-col overflow-hidden sm:overflow-y-auto bg-gray-100"
        >
            <!-- Tabs -->
            <mat-tab-group
                class="sm:px-2"
                mat-stretch-tabs="false"
                [animationDuration]="'500'"
                [(selectedIndex)]="tabIndex"
                #tabGroup (selectedTabChange)="tabChanged($event)"
            >
                <mat-tab label="Pendientes">
                    <ng-template matTabContent>
                        <ng-container *ngIf="data.length">
                            <app-custom-table
                                [columns]="columns"
                                [displayedColumns]="columns"
                                [columnPropertyMap]="columnPropertyMap"
                                [data]="data"
                                [buttons]="buttons"
                            ></app-custom-table>
                        </ng-container>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Rechazadas">
                    <ng-template matTabContent>
                        <ng-container *ngIf="data.length">
                            <app-custom-table
                                [columns]="columns"
                                [displayedColumns]="columns"
                                [columnPropertyMap]="columnPropertyMap"
                                [data]="data"
                                [buttons]="buttons"
                            ></app-custom-table>
                        </ng-container>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Aprobadas" >
                    <ng-template matTabContent>
                        <ng-container *ngIf="data.length">
                            <app-custom-table
                                [columns]="columns"
                                [displayedColumns]="columns"
                                [columnPropertyMap]="columnPropertyMap"
                                [data]="data"
                                [buttons]="buttons"
                            ></app-custom-table>
                        </ng-container>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Pendiente desembolso">
                    <ng-template matTabContent>
                        <ng-container *ngIf="data.length">
                            <app-custom-table
                                [columns]="columns"
                                [displayedColumns]="columns"
                                [columnPropertyMap]="columnPropertyMap"
                                [data]="data"
                                [buttons]="buttons"
                            ></app-custom-table>
                        </ng-container>
                    </ng-template>
                </mat-tab>


            </mat-tab-group>

        </div>

    </div>

</div>

