<div class="absolute inset-0 min-w-0 overflow-auto print:overflow-visible" cdkScrollable>
    <div class="inline-block p-6 sm:p-10 print:p-0 w-full">

        <div class="sm:bg-card sm:rounded-2xl sm:mx-0 mx-auto overflow-hidden" [style.width]="'90%'" >
            <div
                class="mt-8 text-3xl font-semibold leading-tight tracking-tight text-center"
            >
                {{'Detalle consumo'}}
            </div>

            <mat-horizontal-stepper [linear]="true" #stepper>
                <!-- Primer paso:  Consulta de empleado -->
                <mat-step [stepControl]="" label="Consultar empleado">
                    <div class="flex flex-col items-center justify-center w-full h-full px-4">
                        <form [formGroup]="firstFormGroup">
                            <mat-form-field  class="w-full">
                                <mat-label>Tipo de documento</mat-label>
                                <mat-select
                                    [formControlName]="'idTipoDoc'"
                                >
                                    <ng-container *ngIf="tiposDocumentos$ | async as documentos">
                                        <mat-option [value]="item.id" *ngFor="let item of documentos.data">{{item.nombre}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Número de identificación</mat-label>
                                <input  matInput placeholder="Ingrese identificación" [formControlName]="'numDocumento'"/>
                            </mat-form-field>
                            <fuse-alert class="mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                                        [type]="alert.type" [@shake]="alert.type === 'error'">
                                {{alert.message}}
                            </fuse-alert>
                            <button (click)="onSearch()" mat-raised-button class="bg-crediblue-50 text-white px-6 py-2 rounded-md">Consultar</button>
                        </form>

                    </div>
                </mat-step>

                <!-- Segundo Stepper: Información del Documento -->
                <mat-step [stepControl]="secondFormGroup" label="Verifica información">

                    <div class="flex justify-between">
                        <button mat-button matStepperPrevious class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600">Anterior</button>
                        <button mat-button matStepperNext class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Siguiente</button>
                    </div>
                </mat-step>



            </mat-horizontal-stepper>

        </div>



    </div>

</div>

