<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <!-- Title -->
        <div class="text-3xl font-semibold tracking-tight">Detalle consumo</div>

    </div>

    <!--Main-->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div
            class="flex flex-auto flex-row items-baseline flex-wrap gap-6 justify-center overflow-hidden sm:overflow-y-auto bg-gray-100 sm:p-2"
        >
            <fuse-card class="filter-list flex w-full max-w-lg flex-col p-8 sm:p-10 mt-6 shadow-xl rounded-xl bg-white hover:shadow-2xl transition-all duration-300 transform hover:scale-105">
                <!-- Header -->
                <div class="flex justify-between items-center mb-6">
                    <div class="flex items-center space-x-3">
                        <span class="font-semibold text-2xl text-blue-900">Consumos Realizados</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7H7v6m6 0h5m-8 4H7m6 0h5" />
                        </svg>
                    </div>
                </div>

                <!-- Action Button -->
                <button class="w-full py-3 text-white bg-crediblue-50 hover:bg-blue-600 rounded-lg font-semibold text-sm transition-all duration-300 shadow-lg hover:shadow-xl"
                        routerLink="/pages/gestion-creditos/consumos/listar"
                >
                    Consumos Realizados
                </button>
            </fuse-card>

            <fuse-card class="filter-list flex w-full max-w-lg flex-col p-8 sm:p-10 mt-6 shadow-xl rounded-xl bg-white hover:shadow-2xl transition-all duration-300 transform hover:scale-105">
                <!-- Header -->
                <div class="flex justify-between items-center mb-6">
                    <div class="flex items-center space-x-3">
                        <span class="font-semibold text-2xl text-blue-900">Realizar Detalle Consumo</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7H7v6m6 0h5m-8 4H7m6 0h5" />
                        </svg>
                    </div>
                </div>

                <!-- Action Button -->
                <button class="w-full py-3 text-white bg-crediblue-50 hover:bg-blue-600 rounded-lg font-semibold text-sm transition-all duration-300 shadow-lg hover:shadow-xl"
                        routerLink="/pages/gestion-creditos/detalle-consumo"
                >
                    Realizar Detalle Consumo
                </button>
            </fuse-card>




        </div>

    </div>

</div>

