<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <!-- Title -->
        <div class="text-3xl font-semibold tracking-tight">Cobro Trabajadores</div>

        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0 w-1/2 gap-2.5">
            <!-- Search -->
            <mat-form-field
                class="fuse-mat-dense rounded-lg w-1/2"
                [subscriptSizing]="'dynamic'"
            >
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:magnifying-glass'"
                ></mat-icon>
                <input
                    matInput
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar'"
                />
            </mat-form-field>
            <!-- Add product button -->
            <mat-form-field  class="w-1/2">
                <mat-label>Estados</mat-label>
                <mat-select
                    [formControl]="estados"
                    (selectionChange)="onSelect($event)"
                >
                    <mat-option [value]="item.id" *ngFor="let item of estadpCreditos">{{item.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>

    <!--Main-->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div
            class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto"
        >
            <app-custom-table
                [columns]="columns"
                [displayedColumns]="columns"
                [columnPropertyMap]="columnPropertyMap"
                [data]="data"
                [buttons]="buttons"
                [searchTerm]="searchTerm"
            ></app-custom-table>
        </div>

    </div>

</div>
