<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <!-- Title -->
        <div class="text-3xl font-semibold tracking-tight">Créditos</div>

        <!-- Actions -->
        <div class="mt-6 flex w-full shrink-0 flex-col items-center sm:ml-4 sm:mt-0 sm:flex-row sm:space-x-2 sm:w-auto">
            <!-- Search -->
            <mat-form-field
                class="fuse-mat-dense rounded-lg w-full sm:w-auto min-w-64"
                [subscriptSizing]="'dynamic'"
            >
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:magnifying-glass'"
                ></mat-icon>
                <input
                    matInput
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar'"
                />
            </mat-form-field>
        </div>

    </div>

    <!--Main-->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div
            class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto"
        >
            <!-- Tabs -->
            <mat-tab-group
                class="sm:px-2"
                mat-stretch-tabs="false"
                [animationDuration]="'500'"
                #tabGroup (selectedTabChange)="tabChanged($event)"
            >
                <mat-tab label="En revisión" >
                    <ng-template matTabContent>
                        <ng-container *ngIf="data.length; else noData">
                            <app-custom-table
                                [columns]="columns"
                                [displayedColumns]="columns"
                                [columnPropertyMap]="columnPropertyMap"
                                [data]="data"
                                [buttons]="buttons"
                            ></app-custom-table>
                        </ng-container>
                        <ng-template #noData>
                            <div class="inset-0 min-w-0 overflow-auto print:overflow-visible">
                                <div class="inline-block p-4 sm:p-2 print:p-0 w-full">
                                    <fuse-alert
                                        [type]="'info'"
                                        [appearance]="'outline'">
                                        <span fuseAlertTitle>Información</span>
                                        No hay créditos en revisión hasta el momento.
                                    </fuse-alert>
                                </div>
                            </div>
                        </ng-template>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Aprobado">
                    <ng-template matTabContent>
                        <ng-container *ngIf="data.length; else noData">
                            <app-custom-table
                                [columns]="columnsAprobadas"
                                [displayedColumns]="columnsAprobadas"
                                [columnPropertyMap]="columnPropertyAprobadas"
                                [data]="data"
                                [buttons]="buttonsView"
                            ></app-custom-table>
                        </ng-container>
                        <ng-template #noData>
                            <div class="inset-0 min-w-0 overflow-auto print:overflow-visible">
                                <div class="inline-block p-4 sm:p-2 print:p-0 w-full">
                                    <fuse-alert
                                        [type]="'info'"
                                        [appearance]="'outline'">
                                        <span fuseAlertTitle>Información</span>
                                        No hay créditos aprobados hasta el momento.
                                    </fuse-alert>
                                </div>
                            </div>
                        </ng-template>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Vencido">
                    <ng-template matTabContent>
                        <ng-container *ngIf="data.length; else noData">
                            <app-custom-table
                                [columns]="columnsAprobadas"
                                [displayedColumns]="columnsAprobadas"
                                [columnPropertyMap]="columnPropertyAprobadas"
                                [data]="data"
                                [buttons]="buttons"
                            ></app-custom-table>
                        </ng-container>
                        <ng-template #noData>
                            <div class="inset-0 min-w-0 overflow-auto print:overflow-visible">
                                <div class="inline-block p-4 sm:p-2 print:p-0 w-full">
                                    <fuse-alert
                                        [type]="'info'"
                                        [appearance]="'outline'">
                                        <span fuseAlertTitle>Información</span>
                                        No hay créditos vencidos hasta el momento.
                                    </fuse-alert>
                                </div>
                            </div>
                        </ng-template>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Bloqueado">
                    <ng-template matTabContent>
                        <ng-container *ngIf="data.length; else noData">
                            <app-custom-table
                                [columns]="columnsAprobadas"
                                [displayedColumns]="columnsAprobadas"
                                [columnPropertyMap]="columnPropertyAprobadas"
                                [data]="data"
                                [buttons]="buttons"
                            ></app-custom-table>
                        </ng-container>
                        <ng-template #noData>
                            <div class="inset-0 min-w-0 overflow-auto print:overflow-visible">
                                <div class="inline-block p-4 sm:p-2 print:p-0 w-full">
                                    <fuse-alert
                                        [type]="'info'"
                                        [appearance]="'outline'">
                                        <span fuseAlertTitle>Información</span>
                                        No hay créditos bloqueados hasta el momento.
                                    </fuse-alert>
                                </div>
                            </div>
                        </ng-template>
                    </ng-template>
                </mat-tab>

            </mat-tab-group>

        </div>

    </div>

</div>


