
<div class="flex flex-col items-center justify-center w-full h-full px-4">
    <h2 class="text-xl font-semibold text-gray-800 mb-4">Aprobación de Crédito</h2>
    <p class="text-gray-700 mb-2" *ngIf="empleadoData">
        El empleado/a <strong>{{empleadoData.primerNombre + ' ' + empleadoData.segundoNombre ?? '' + ' ' + ' ' + empleadoData.primerApellido + ' ' + empleadoData.segundoApellido ?? ''}}</strong>,
    </p>
    <p class="text-gray-700 mb-4">
        Usted ha seleccionado/a para solicitar un crédito con un cupo de hasta
        <strong>{{detalleEmpleado.cupo | currency}}</strong>. Por favor, revise los términos y condiciones antes de continuar con su solicitud.
    </p>
    <p class="text-gray-700 mb-6">
        Si desea proceder con la aprobación, haga clic en "Aprobar" para enviar su petición. Uno de nuestros asesores se pondrá en contacto con usted para continuar el proceso.
    </p>
    <p class="text-gray-700 mb-4">
        Gracias por su confianza.
    </p>
    <div class="flex justify-end space-x-4">
        <button mat-raised-button class="bg-blue-500 text-white px-6 py-2 rounded-md bg-crediblue-50" (click)="onSave()">Aprobar</button>
        <button class="px-4 py-2 bg-credigray-100 text-gray-700 rounded-lg hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400"  (click)="closeDialog()">
            Cancelar
        </button>
    </div>
</div>


