<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <!-- Title -->
        <div class="text-3xl font-semibold tracking-tight">Bancos</div>

        <!-- Actions -->
        <div class="mt-6 flex w-full shrink-0 flex-col items-center sm:ml-4 sm:mt-0 sm:flex-row sm:space-x-2 sm:w-auto">
            <!-- Search -->
            <mat-form-field
                class="fuse-mat-dense rounded-lg w-full sm:w-auto min-w-64"
                [subscriptSizing]="'dynamic'"
            >
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:magnifying-glass'"
                ></mat-icon>
                <input
                    matInput
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar'"
                    (input)="onSearch($event)"
                />
            </mat-form-field>
            <!-- Add product button -->
            <button
                class="mt-2 w-full bg-crediblue-50 rounded-lg transition duration-200 text-white font-semibold sm:ml-4 sm:mt-0 sm:w-auto"
                mat-flat-button
                [color]="'primary'"
                (click)="onNew()"
            >
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Agregar</span>
            </button>
        </div>

    </div>

    <!--Main-->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div
            class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto"
        >
            <app-custom-table
                [columns]="columns"
                [displayedColumns]="columns"
                [columnPropertyMap]="columnPropertyMap"
                [data]="data"
                [buttons]="buttons"
                [searchTerm]="searchTerm"
            ></app-custom-table>
        </div>

    </div>

</div>


