<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <div
        class="relative flex flex-0 flex-col px-6 py-6 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <!-- Title -->
        <div class="text-3xl font-semibold tracking-tight">Desembolsos</div>

        <!-- Actions -->
        <div class="mt-6 flex w-full shrink-0 flex-col items-center sm:ml-4 sm:mt-0 sm:flex-row sm:space-x-2 sm:w-auto">
            <!-- Search -->
            <mat-form-field
                class="fuse-mat-dense rounded-lg w-full sm:w-auto min-w-64"
                [subscriptSizing]="'dynamic'"
            >
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:magnifying-glass'"
                ></mat-icon>
                <input
                    matInput
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar'"
                    (input)="onSearch($event)"
                />
            </mat-form-field>
            <!-- Add product button -->
            <button
                class="sm:w-auto w-full sm:mt-0 mt-2 bg-green-700 rounded-lg transition duration-200 text-white font-semibold"
                mat-flat-button
                [color]="'primary'"
            >

                <span> Exportar </span>
            </button>
        </div>


    </div>

    <!--Main-->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div
            class="flex flex-auto flex-col overflow-hidden sm:overflow-y-auto bg-gray-100"
        >
            <!-- Tabs -->
            <mat-tab-group
                class="sm:px-2"
                mat-stretch-tabs="false"
                [animationDuration]="'500'"
                [(selectedIndex)]="tabIndex"
                #tabGroup (selectedTabChange)="tabChanged($event)"
            >
                <mat-tab label="Pendientes">
                    <ng-template matTabContent>
                        <ng-container *ngIf="data.length; else noData">
                            <app-custom-table
                                [columns]="columns"
                                [displayedColumns]="columns"
                                [columnPropertyMap]="columnPropertyMap"
                                [data]="data"
                                [buttons]="buttonsApprove"
                                [searchTerm]="searchTerm"
                            ></app-custom-table>
                        </ng-container>
                        <ng-template #noData>
                            <div class="inset-0 min-w-0 overflow-auto print:overflow-visible">

                                <div class="inline-block p-4 sm:p-2 print:p-0 w-full">
                                    <fuse-alert
                                        [type]="'info'"
                                        [appearance]="'outline'">
                                        <span fuseAlertTitle>Información</span>
                                        No hay solicitudes hasta el momento.
                                    </fuse-alert>
                                </div>
                            </div>

                        </ng-template>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Rechazadas">
                    <ng-template matTabContent>
                        <ng-container *ngIf="data.length; else noData">
                            <app-custom-table
                                [columns]="columns"
                                [displayedColumns]="columns"
                                [columnPropertyMap]="columnPropertyMap"
                                [data]="data"
                                [buttons]="buttons"
                                [searchTerm]="searchTerm"
                            ></app-custom-table>
                        </ng-container>
                        <ng-template #noData>
                            <div class="inset-0 min-w-0 overflow-auto print:overflow-visible">

                                <div class="inline-block p-4 sm:p-2 print:p-0 w-full">
                                    <fuse-alert
                                        [type]="'info'"
                                        [appearance]="'outline'">
                                        <span fuseAlertTitle>Información</span>
                                        No hay solicitudes rechazadas hasta el momento.
                                    </fuse-alert>
                                </div>
                            </div>
                        </ng-template>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Aprobadas" >
                    <ng-template matTabContent>
                        <ng-container *ngIf="data.length; else noData">
                            <app-custom-table
                                [columns]="columns"
                                [displayedColumns]="columns"
                                [columnPropertyMap]="columnPropertyMap"
                                [data]="data"
                                [buttons]="buttons"
                                [searchTerm]="searchTerm"
                            ></app-custom-table>
                        </ng-container>
                        <ng-template #noData>
                            <div class="inset-0 min-w-0 overflow-auto print:overflow-visible">

                                <div class="inline-block p-4 sm:p-2 print:p-0 w-full">
                                    <fuse-alert
                                        [type]="'info'"
                                        [appearance]="'outline'">
                                        <span fuseAlertTitle>Información</span>
                                        No hay solicitudes aprobadas hasta el momento.
                                    </fuse-alert>
                                </div>
                            </div>
                        </ng-template>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Realizados" >
                    <ng-template matTabContent>
                        <ng-container *ngIf="data.length; else noData">
                            <app-custom-table
                                [columns]="columns"
                                [displayedColumns]="columns"
                                [columnPropertyMap]="columnPropertyMap"
                                [data]="data"
                                [buttons]="buttons"
                                [searchTerm]="searchTerm"
                            ></app-custom-table>
                        </ng-container>
                        <ng-template #noData>
                            <div class="inset-0 min-w-0 overflow-auto print:overflow-visible">

                                <div class="inline-block p-4 sm:p-2 print:p-0 w-full">
                                    <fuse-alert
                                        [type]="'info'"
                                        [appearance]="'outline'">
                                        <span fuseAlertTitle>Información</span>
                                        No hay solicitudes aprobadas hasta el momento.
                                    </fuse-alert>
                                </div>
                            </div>
                        </ng-template>
                    </ng-template>
                </mat-tab>

            </mat-tab-group>

        </div>

    </div>

</div>

