
<div
    class="relative min-w-0 flex h-full w-full flex-col dark:bg-transparent sm:overflow-hidden sm:inset-0"
>
    <div
        class="relative flex flex-0 flex-col px-6 py-6 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <div class="text-3xl font-semibold tracking-tight">Dashboard de Resumen Ejecutivo</div>

    </div>

    <div class="flex w-full sm:items-center lg:flex-row gap-2.5 lg:gap-2 flex-col p-5">

        <div class="bg-white w-full sm:w-3/4 md:w-2/4 lg:w-1/2 flex flex-col overflow-hidden rounded-2xl shadow-lg sm:col-span-2 lg:col-span-1 border border-gray-200">
            <!-- Header Section -->
            <div class="px-6 py-4 flex items-start justify-between bg-gradient-to-r from-blue-500 to-blue-900 rounded-t-2xl">
                <div class="truncate text-lg font-semibold leading-6 tracking-tight text-white mx-auto">
                    Cartera por cobrar
                </div>
            </div>

            <!-- Content Section -->
            <div class="px-6 py-5 flex sm:items-end lg:gap-3 lg:flex-row lg:items-center mx-auto">
                <div class="mt-3 lg:mt-0 lg:ml-4 flex items-center justify-center w-8 h-8 bg-blue-100 rounded-full">
                    <span class="text-blue-600 text-5xl font-bold">$</span>
                </div>
                <div class="text-4xl font-semibold text-gray-800 leading-tight tracking-tight">
                    {{ dataCards?.montoPagoTrabajadorLiquidados | number: '1.0-0'  }}
                </div>
            </div>
        </div>

        <div class="bg-white w-full sm:w-3/4 md:w-2/4 lg:w-1/2 flex flex-col overflow-hidden rounded-2xl shadow-lg sm:col-span-2 lg:col-span-1 border border-gray-200">
            <!-- Header Section -->
            <div class="px-6 py-4 flex items-start justify-between bg-gradient-to-r from-blue-500 to-blue-900 rounded-t-2xl">
                <div class="truncate text-lg font-semibold leading-6 tracking-tight text-white mx-auto">
                    Cobros adicionales
                </div>
            </div>

            <!-- Content Section -->
            <div class="px-6 py-5 flex sm:items-end lg:gap-3 lg:flex-row lg:items-center mx-auto">
                <div class="mt-3 lg:mt-0 lg:ml-4 flex items-center justify-center w-8 h-8 bg-blue-100 rounded-full">
                    <span class="text-blue-600 text-5xl font-bold">$</span>
                </div>
                <div class="text-4xl font-semibold text-gray-800 leading-tight tracking-tight ">
                    {{ dataCards?.montoCobrosFijosPendientesPorPagar | number: '1.0-0' }}
                </div>
            </div>
        </div>

        <div class="bg-white w-full sm:w-3/4 md:w-2/4 lg:w-1/2 flex flex-col overflow-hidden rounded-2xl shadow-lg sm:col-span-2 lg:col-span-1 border border-gray-200">
            <!-- Header Section -->
            <div class="px-6 py-4 flex items-start justify-between bg-gradient-to-r from-blue-500 to-blue-900 rounded-t-2xl">
                <div class="truncate text-lg font-semibold leading-6 tracking-tight text-white mx-auto">
                    Intereses generados
                </div>
            </div>

            <!-- Content Section -->
            <div class="px-6 py-5 flex sm:items-end lg:gap-3 lg:flex-row lg:items-center mx-auto">
                <div class="mt-3 lg:mt-0 lg:ml-4 flex items-center justify-center w-8 h-8 bg-blue-100 rounded-full">
                    <span class="text-blue-600 text-5xl font-bold">$</span>
                </div>
                <div class="text-4xl font-semibold text-gray-800 leading-tight tracking-tight">
                    {{ dataCards?.montoInteresesGanadosDeLiquidaciones | number: '1.0-0'  }}
                </div>
            </div>
        </div>

    </div>

    <div class="flex w-full lg:flex-row sm:items-center justify-center gap-2.5 lg:gap-2 flex-col p-5">

        <div class="bg-white w-full sm:w-3/4 md:w-2/4 lg:w-1/2 flex flex-col overflow-hidden rounded-2xl shadow-lg sm:col-span-2 lg:col-span-1 border border-gray-200">
            <!-- Header Section -->
            <div class="px-6 py-4 flex items-start justify-between bg-gradient-to-r from-blue-500 to-blue-900 rounded-t-2xl">
                <div class="truncate text-lg font-semibold leading-6 tracking-tight text-white mx-auto">
                    Créditos aprobados
                </div>
            </div>

            <!-- Content Section -->
            <div class="px-6 py-5 flex sm:items-end lg:gap-3 lg:flex-row lg:items-center mx-auto">
                <div class="mt-3 lg:mt-0 lg:ml-4 flex items-center justify-center w-8 h-8 bg-blue-100 rounded-full">
                    <span class="text-blue-600 text-5xl font-bold">$</span>
                </div>
                <div class="text-4xl font-semibold text-gray-800 leading-tight tracking-tight">
                    {{ dataCards?.montoCreditoAprobado | number: '1.0-0' }}
                </div>
            </div>
        </div>

        <div class="bg-white w-full sm:w-3/4 md:w-2/4 lg:w-1/2 flex flex-col  overflow-hidden rounded-2xl shadow-lg sm:col-span-2 lg:col-span-1 border border-gray-200">
            <!-- Header Section -->
            <div class="px-6 py-4 flex items-start justify-between bg-gradient-to-r from-blue-500 to-blue-900 rounded-t-2xl">
                <div class="truncate text-lg font-semibold leading-6 tracking-tight text-white mx-auto">
                    Crédito real consumido
                </div>
            </div>

            <!-- Content Section -->
            <div class="px-6 py-5 flex sm:items-end lg:gap-3 lg:flex-row lg:items-center mx-auto">
                <div class="mt-3 lg:mt-0 lg:ml-4 flex items-center justify-center w-8 h-8 bg-blue-100 rounded-full">
                    <span class="text-blue-600 text-5xl font-bold">$</span>
                </div>
                <div class="text-4xl font-semibold text-gray-800 leading-tight tracking-tight">
                    {{ dataCards?.montoDesembolsosRealizados | number:  '1.0-0' }}
                </div>
            </div>
        </div>

        <div class="bg-white w-full sm:w-3/4 md:w-2/4 lg:w-1/2 flex flex-col overflow-hidden rounded-2xl shadow-lg sm:col-span-2 lg:col-span-1 border border-gray-200">
            <!-- Header Section -->
            <div class="px-6 py-4 flex items-start justify-between bg-gradient-to-r from-blue-500 to-blue-900 rounded-t-2xl">
                <div class="truncate text-lg font-semibold leading-6 tracking-tight text-white mx-auto">
                    Créditos sin utilizar
                </div>
            </div>

            <!-- Content Section -->
            <div class="px-6 py-5 flex sm:items-end lg:gap-3 lg:flex-row lg:items-center mx-auto">
                <div class="mt-3 lg:mt-0 lg:ml-4 flex items-center justify-center w-8 h-8 bg-blue-100 rounded-full">
                    <span class="text-blue-600 text-5xl font-bold">$</span>
                </div>
                <div class="text-4xl font-semibold text-gray-800 leading-tight tracking-tight">
                    {{ dataCards?.montoDesembolsosRealizados  - dataCards?.montoDesembolsosAprobados    | number: '1.0-0'  }}
                </div>
            </div>
        </div>


    </div>

   <!-- <div class="flex w-full lg:flex-row justify-center lg:gap-2 flex-col p-5">

        <div class="bg-white w-2/5 flex flex-col overflow-hidden rounded-2xl shadow-lg sm:col-span-2 lg:col-span-1 border border-gray-200">
            &lt;!&ndash; Header Section &ndash;&gt;
            <div class="px-6 py-4 flex items-start justify-between bg-gradient-to-r from-blue-500 to-blue-900 rounded-t-2xl">
                <div class="truncate text-lg font-semibold leading-6 tracking-tight text-white mx-auto">
                    Monto intereses pendientes de liquidaciones
                </div>
            </div>

            &lt;!&ndash; Content Section &ndash;&gt;
            <div class="px-6 py-5 flex flex-col lg:gap-3 lg:flex-row lg:items-center mx-auto">
                <div class="mt-3 lg:mt-0 lg:ml-4 flex items-center justify-center w-8 h-8 bg-blue-100 rounded-full">
                    <span class="text-blue-600 text-5xl font-bold">$</span>
                </div>
                <div class="text-4xl font-semibold text-gray-800 leading-tight tracking-tight">
                    {{ dataCards?.montoInteresesPendientesPorLiquidar | number: '1.0-0'  }}
                </div>
            </div>
        </div>

    </div>-->

    <!--<div class="flex w-full flex-auto flex-col">
        <div class="mx-auto flex w-full max-w-screen-xl flex-wrap p-6 md:p-8">
            &lt;!&ndash; Conversions &ndash;&gt;
            <div
                class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl shadow sm:col-span-2 lg:col-span-1"
            >
                &lt;!&ndash;<div class="m-6 mb-0 flex items-start justify-between">
                    <div
                        class="truncate text-lg font-medium leading-6 tracking-tight"
                    >
                        Solicitudes pendientes
                    </div>
                    <div class="ml-2">
                        <button
                            class="bg-hover h-6 min-h-6 rounded-full px-2"
                            mat-button
                            [matMenuTriggerFor]="conversionMenu"
                        >
                                <span class="text-secondary text-sm font-medium"
                                >30 días</span
                                >
                        </button>
                        <mat-menu #conversionMenu="matMenu">
                            <button mat-menu-item>30 días</button>
                            <button mat-menu-item>3 meses</button>
                            <button mat-menu-item>9 meses</button>
                        </mat-menu>
                    </div>
                </div>
                <div
                    class="mx-6 mt-3 flex flex-col lg:flex-row lg:items-center"
                >
                    <div class="flex lg:ml-3 lg:flex-col">
                        <mat-icon
                            class="text-red-500 icon-size-5"
                            [svgIcon]="'heroicons_mini:arrow-trending-down'"
                        ></mat-icon>
                        <div
                            class="text-secondary ml-1 flex items-center whitespace-nowrap text-md leading-none lg:ml-0 lg:mt-0.5"
                        >
                            <span class="font-medium text-red-500">2%</span>
                            <span class="ml-1">below target</span>
                        </div>
                    </div>
                </div>&ndash;&gt;


                <div class="flex h-auto flex-auto flex-col p-3">
                    <ng-container *ngIf="chartOptions.series.length > 0; else noData">
                        <apx-chart [series]="chartOptions.series"
                                   [chart]="chartOptions.chart"
                                   [labels]="chartOptions.labels"
                                   [title]="chartOptions.title"
                                   [colors]="chartOptions.colors"
                                   [legend]="chartOptions.legend">
                        </apx-chart>
                    </ng-container>
                    <ng-template #noData>
                        <div class="inset-0 min-w-0 overflow-auto print:overflow-visible">
                            <div class="inline-block p-4 sm:p-2 print:p-0 w-full">
                                <fuse-alert
                                    [type]="'info'"
                                    [appearance]="'outline'">
                                    <span fuseAlertTitle>Información</span>
                                    No hay información para mostrar hasta el momento.
                                </fuse-alert>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>-->


</div>

