
<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <div
        class="relative flex flex-0 flex-col px-6 py-6 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <div class="text-3xl font-semibold tracking-tight">Dashboard</div>

    </div>

    <div class="flex w-full flex-auto flex-col">
        <div class="mx-auto flex w-full max-w-screen-xl flex-wrap p-6 md:p-8">
            <!-- Conversions -->
            <div
                class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl shadow sm:col-span-2 lg:col-span-1"
            >
                <!--<div class="m-6 mb-0 flex items-start justify-between">
                    <div
                        class="truncate text-lg font-medium leading-6 tracking-tight"
                    >
                        Solicitudes pendientes
                    </div>
                    <div class="ml-2">
                        <button
                            class="bg-hover h-6 min-h-6 rounded-full px-2"
                            mat-button
                            [matMenuTriggerFor]="conversionMenu"
                        >
                                <span class="text-secondary text-sm font-medium"
                                >30 días</span
                                >
                        </button>
                        <mat-menu #conversionMenu="matMenu">
                            <button mat-menu-item>30 días</button>
                            <button mat-menu-item>3 meses</button>
                            <button mat-menu-item>9 meses</button>
                        </mat-menu>
                    </div>
                </div>
                <div
                    class="mx-6 mt-3 flex flex-col lg:flex-row lg:items-center"
                >
                    <div class="flex lg:ml-3 lg:flex-col">
                        <mat-icon
                            class="text-red-500 icon-size-5"
                            [svgIcon]="'heroicons_mini:arrow-trending-down'"
                        ></mat-icon>
                        <div
                            class="text-secondary ml-1 flex items-center whitespace-nowrap text-md leading-none lg:ml-0 lg:mt-0.5"
                        >
                            <span class="font-medium text-red-500">2%</span>
                            <span class="ml-1">below target</span>
                        </div>
                    </div>
                </div>-->
                <div class="flex h-auto flex-auto flex-col">
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                               [xaxis]="chartOptions.xaxis" [yaxis]="chartOptions.yaxis"
                               [title]="chartOptions.title" [plotOptions]="chartOptions.plotOptions"
                               [dataLabels]="chartOptions.dataLabels" [colors]="chartOptions.colors">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>

</div>

