
<div class="flex w-full flex-auto flex-col">
    <div class="mx-auto flex w-full max-w-screen-xl flex-wrap p-6 md:p-8">
        <!-- Conversions -->
        <div
            class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl shadow sm:col-span-2 lg:col-span-1"
        >
            <div class="m-6 mb-0 flex items-start justify-between">
                <div
                    class="truncate text-lg font-medium leading-6 tracking-tight"
                >
                    Conversions
                </div>
                <div class="ml-2">
                    <button
                        class="bg-hover h-6 min-h-6 rounded-full px-2"
                        mat-button
                        [matMenuTriggerFor]="conversionMenu"
                    >
                            <span class="text-secondary text-sm font-medium"
                            >30 days</span
                            >
                    </button>
                    <mat-menu #conversionMenu="matMenu">
                        <button mat-menu-item>30 days</button>
                        <button mat-menu-item>3 months</button>
                        <button mat-menu-item>9 months</button>
                    </mat-menu>
                </div>
            </div>
            <div
                class="mx-6 mt-3 flex flex-col lg:flex-row lg:items-center"
            >
                <div
                    class="text-7xl font-bold leading-tight tracking-tighter"
                >
                    {{ data?.conversions.amount | number: '1.0-0' }}
                </div>
                <div class="flex lg:ml-3 lg:flex-col">
                    <mat-icon
                        class="text-red-500 icon-size-5"
                        [svgIcon]="'heroicons_mini:arrow-trending-down'"
                    ></mat-icon>
                    <div
                        class="text-secondary ml-1 flex items-center whitespace-nowrap text-md leading-none lg:ml-0 lg:mt-0.5"
                    >
                        <span class="font-medium text-red-500">2%</span>
                        <span class="ml-1">below target</span>
                    </div>
                </div>
            </div>
            <div class="flex h-20 flex-auto flex-col">
                <apx-chart
                    class="h-full w-full flex-auto"
                    [chart]="chartConversions?.chart"
                    [colors]="chartConversions?.colors"
                    [series]="chartConversions?.series"
                    [stroke]="chartConversions?.stroke"
                    [tooltip]="chartConversions?.tooltip"
                    [xaxis]="chartConversions?.xaxis"
                    [yaxis]="chartConversions?.yaxis"
                ></apx-chart>
            </div>
        </div>
    </div>
</div>
