<div class="w-full sm:bg-card sm:rounded-2xl sm:w-96 max-w-96 sm:mx-0 mx-auto" >
    <div class="">
        <!-- Title -->
        <div
            class="mt-8 text-3xl font-semibold leading-tight tracking-tight text-center"
        >
            {{_matData.edit ? 'Actualizar solicitud' : 'Crear solicitud'}}
        </div>

        <!-- Sign Up form -->
        <form class="mt-8" [formGroup]="form">
            <!-- Name field -->
            <mat-form-field class="w-full">
                <mat-label>Cupo $</mat-label>
                <input  matInput [formControlName]="'cupo'"/>
            </mat-form-field>


            <mat-form-field  class="w-full">
                <mat-label>Observaciónes</mat-label>
                <textarea matInput placeholder="observacion" [formControlName]="'observacion'"></textarea>
            </mat-form-field>

            <div class="flex flex-wrap justify-between ">
                <button
                    class="fuse-mat-button-large mt-6 bg-credigray-100"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="closeDialog()"
                >

                    <span> Cancelar </span>
                </button>

                <button
                    class="fuse-mat-button-large mt-6 bg-crediblue-50"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="onSave()"
                >

                    <span> Guardar </span>
                </button>

            </div>

        </form>

    </div>
</div>


