<div class="w-full sm:bg-card sm:rounded-2xl sm:mx-0 mx-auto" >
    <div class="">
        <!-- Title -->
        <div
            class="mt-8 text-3xl font-semibold leading-tight tracking-tight text-center"
        >
            {{_matData.edit ? 'Actualizar cobro adicional' : 'Agregar cobro adicional'}}
        </div>
        <!-- Sign Up form -->
        <div class="mt-8" >
            <div>
                <div class="flex flex-col sm:flex-row gap-2.5">
                    <mat-form-field  class="w-full" floatLabel="always">
                        <mat-label>Seleccione la cantidad de días</mat-label>
                        <mat-select placeholder="Seleccione la cantidad de díás"
                                    [formControl]="cobroFijo"
                        >
                            <ng-container *ngIf="costosFijos$ | async as cobros">
                                <mat-option [value]="item" *ngFor="let item of cobros.data">{{item.periodo}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            @if(cobroFijo.value) {
                <div class="flex flex-col sm:flex-row gap-2.5">
                    <mat-list role="list" class="w-full bg-gray-50 p-4 rounded-lg shadow-sm border border-gray-200">
                        <mat-list-item role="listitem" class="flex justify-between py-2 border-b border-gray-300 last:border-none">
                            <span class="font-semibold text-gray-700">Valor de aval: </span>
                            <span class="text-gray-800">{{ cobroFijo.value.valorAval | currency: 'USD' }}</span>
                        </mat-list-item>
                        <mat-list-item role="listitem" class="flex justify-between py-2 border-b border-gray-300 last:border-none">
                            <span class="font-semibold text-gray-700">Valor de firma electrónica: </span>
                            <span class="text-gray-800">{{ cobroFijo.value.valorFirmaElectronica | currency: 'USD' }}</span>
                        </mat-list-item>
                        <mat-list-item role="listitem" class="flex justify-between py-2">
                            <span class="font-semibold text-gray-700">Valor de tarjeta: </span>
                            <span class="text-gray-800">{{ cobroFijo.value.valorTarjeta | currency: 'USD' }}</span>
                        </mat-list-item>
                    </mat-list>

                </div>
            }


            <div class="flex flex-wrap justify-end gap-2.5 ">
                <button
                    class="sm:w-auto w-full sm:mt-6 bg-credigray-100 rounded-lg transition duration-200 text-white font-semibold"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="closeDialog()"
                >

                    <span> Cancelar </span>
                </button>

                <button
                    class="sm:w-auto w-full sm:mt-6 bg-crediblue-50 rounded-lg transition duration-200 text-white font-semibold"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="onSave()"
                >

                    <span> Guardar </span>
                </button>

            </div>

        </div>

    </div>
</div>

