<div class="absolute inset-0 min-w-0 overflow-auto print:overflow-visible" cdkScrollable>
    <div class="inline-block p-6 sm:p-10 print:p-0 w-full">
        <div class="bg-card shadow print:bg-transparent print:p-0 print:shadow-none rounded-2xl mx-auto overflow-hidden" [style.width]="'90%'">
            <div class="bg-crediblue-50 px-6 py-4 flex items-center justify-between">
                <div>
                    <a mat-button [routerLink]="['/pages/gestion-creditos/creditos']" class="flex items-center">
                        <mat-icon [svgIcon]="'heroicons_outline:arrow-long-left'" class="text-white"></mat-icon>
                    </a>
                </div>
                <h2 class="text-xl font-bold text-white">Detalle de Crédito</h2>
            </div>

            <div class="p-6" *ngIf="items">
                <!-- Información del Cliente y Empresa -->
                <div class="mb-4 flex justify-between">
                    <div>
                        <h3 class="text-xl font-semibold text-gray-800">{{items.trabajador.primerNombre}} {{items.trabajador.segundoNombre}} {{items.trabajador.primerApellido}} {{items.trabajador.segundoApellido}} </h3>
                        <p class="text-gray-600 font-bold">Identificación:
                            <span class="text-gray-800 ">{{items.trabajador.numDoc}}</span>
                        </p>
                        <p class="text-gray-600 font-bold">Empresa:
                            <span class="text-gray-800 ">{{items.nombreSubEmpresa}}</span>
                        </p>
                        <p class="text-gray-600 font-bold">Cargo:
                            <span class="text-gray-800 ">{{items.trabajador.cargo}}</span>
                        </p>
                        <p class="text-gray-600 font-bold">Correo:
                            <span class="text-gray-800 ">{{items.trabajador.correo}}</span>
                        </p>
                        <p class="text-gray-600 font-bold">Dirección:
                            <span class="text-gray-800 ">{{items.trabajador.direccion}}</span>
                        </p>
                        <p class="text-gray-600 font-bold">Teléfono:
                            <span class="text-gray-800 ">{{items.trabajador.telefono}}</span>
                        </p>
                    </div>

                    <div>
                        <p class="text-gray-600 font-bold">Número de crédito:
                            <span class="text-gray-800 ">{{items.numCredito}}</span>
                        </p>
                        <p class="text-gray-600 font-bold">Cupo aprobado:
                            <span class="text-gray-800 ">{{items.cupoAprobado | currency}}</span>
                        </p>
                        <p class="text-gray-600 font-bold">Tasa de interes:
                            <span class="text-gray-800 ">{{items.porcTasaInteres }}%</span>
                        </p>
                        <p class="text-gray-600 font-bold">Fecha de aprobacion:
                            <span class="text-gray-800 ">{{items.fechaAprobacion | date:'dd/MM/yyyy' }}</span>
                        </p>
                        <p class="text-gray-600 font-bold">Fecha de vencimiento:
                            <span class="text-gray-800 ">{{items.fechaVencimiento | date:'dd/MM/yyyy' }}</span>
                        </p>
                        <p class="text-gray-600 font-bold">Cupo utilizado:
                            <span class="text-gray-800 ">{{items.cupoConsumido | currency }}</span>
                        </p>
                        <p class="text-gray-600 font-bold">Saldo Disponible:
                            <span class="text-gray-800 ">{{items.cupoDisponible | currency }}</span>
                        </p>
                    </div>
                </div>
                <hr>
                <p class="text-lg text-black font-bold mb-6" *ngIf="items.detalleConsumos">Movimientos</p>
                <div class="mb-4" *ngIf="items.detalleConsumos">
                    <div class="flex flex-wrap gap-2.5 justify-center">
                        <ng-container *ngFor="let item of items.detalleConsumos">
                            <fuse-card
                                class="max-w-sm flex-col p-8 sm:px-10 sm:py-12 md:max-w-none rounded-2xl shadow-lg bg-re"
                                [ngClass]="{
                                           'bg-green-600':  item.idEstadoCredito == CodigosDetalleConsumo.APROBADA,
                                           'bg-yellow-600': item.idEstadoCredito == CodigosDetalleConsumo.EN_REVISION,
                                           'bg-red-600': item.idEstadoCredito == CodigosDetalleConsumo.RECHAZADA,
                                           }"
                            >
                                <p class="text-white font-semibold">{{item.numeroFactura }}</p>
                                <p class="text-white font-bold">{{item.montoConsumo | currency }}</p>
                                <p class="text-white font-semibold">{{item.cantidadCuotas}}</p>
                            </fuse-card>
                        </ng-container>
                    </div>
                </div>
                <!-- Acciónes -->

            </div>

        </div>

    </div>

</div>
