<div class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden" >
    <div
        class="sm:ml-8 mt-8 text-3xl font-semibold leading-tight tracking-tight "
    >
        {{'Detalle pago trabajadores'}}
    </div>

    <div class="relative flex flex-0 flex-col border-b px-6 sm:flex-row md:px-8">

        <div class="mt-6 w-full shrink-0 sm:mt-0 sm:space-x-2 lg:w-full">
            <form class="mt-8">
                <div class="flex flex-col sm:flex-row gap-2.5">
                    <mat-form-field  class="w-full min-w-90" floatLabel="always">
                        <mat-label>Empresa</mat-label>
                        <input matInput placeholder="Empresa" [value]="form.nombreSubempresa" readonly>
                    </mat-form-field>

                    <mat-form-field  class="w-full min-w-90" floatLabel="always">
                        <mat-label>Fecha de liquidación</mat-label>
                        <input matInput placeholder="Empresa" [value]="form.fechaCreacion" readonly>
                    </mat-form-field>

                    <mat-form-field  class="w-full min-w-90" floatLabel="always">
                        <mat-label>Total</mat-label>
                        <input matInput placeholder="Empresa" [value]="form.total" readonly>
                    </mat-form-field>

                </div>

                <div class="relative p-2 border border-gray-300 rounded-lg ">
                    <div class="absolute -top-3 left-4 bg-white px-2 text-gray-500 font-semibold">
                        Opciones
                    </div>
                    <div class="flex flex-wrap justify-end gap-2.5 sm:mb-4 ">
                        <button
                            class="sm:w-auto w-full sm:mt-6 bg-credigray-100 rounded-lg transition duration-200 text-white font-semibold"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="closeDialog()"
                        >

                            <span> Atras </span>
                        </button>

                        <button
                            class="lg:w-auto w-full sm:mt-6 bg-green-600 transition duration-200 text-white font-semibold rounded-lg md:w-auto"
                            mat-flat-button
                            (click)="exportToExcel()"
                        >
                            <span> Descargar </span>
                        </button>

                    </div>

                </div>

            </form>


        </div>

    </div>

    <div class="flex flex-auto overflow-hidden ">
        <!-- Products list -->
        <div
            class="flex flex-auto flex-col overflow-hidden sm:p-4 sm:mb-10 sm:overflow-y-auto"
        >
            <app-custom-table
                [columns]="columns"
                [displayedColumns]="columns"
                [columnPropertyMap]="columnPropertyMap"
                [data]="data"
            ></app-custom-table>
        </div>

    </div>


</div>
