@if(detalleFactura) {
    <div class="absolute inset-0 min-w-0 overflow-auto text-center print:overflow-visible" cdkScrollable>
        <!-- Main -->
        <div class="inline-block p-6 text-left sm:p-10 print:p-0">
            <!-- Invoice -->
            <div class="bg-card w-240 rounded-2xl p-16 shadow print:w-auto print:rounded-none print:bg-transparent print:shadow-none">
                <div class="flex items-start justify-between">
                    <div class="grid grid-cols-2 gap-x-4 gap-y-1">
                        <div class="text-secondary text-2xl tracking-tight">
                            Número de pago
                        </div>
                        <div class="text-2xl">{{detalleFactura.consecutivo}}</div>
                        <div class="text-md mt-6">
                            <div class="text-xl font-medium">Trabajador: {{detalleFactura.nombreTrabajador}}</div>
                        </div>
                        <div class="text-secondary font-medium tracking-tight col-span-2"></div>
                        <div class="text-secondary font-medium tracking-tight">
                            Periodo inicial
                        </div>
                        <div class="font-medium">{{detalleFactura.fechaIncial | date: 'dd/MM/yyyy'}}</div>
                        <div class="text-secondary font-medium tracking-tight">
                            Periodo final
                        </div>
                        <div class="font-medium">{{detalleFactura.fechaFinal | date: 'dd/MM/yyyy'}}</div>
                        <div class="text-secondary font-medium tracking-tight">
                            Total
                        </div>
                        <div class="font-medium">{{detalleFactura.total | currency: 'USD'}}</div>
                        <div class="text-secondary font-medium tracking-tight">
                            Estado
                        </div>
                        <div class="font-medium">{{detalleFactura.nombreEstadoCobro}}</div>
                    </div>
                    <div class="dark -mr-16 grid auto-cols-max grid-flow-col gap-x-8 rounded-l-2xl bg-accent px-8 py-6">
                        <div class="w-24 place-self-center">
                            <img class="w-24" src="images/logo/logo-blanco.svg" />
                        </div>
                        <div class="border-l pl-10 text-md">
                            <div>Calle 70B Cra 41 # 187</div>
                            <div>Barranquilla - Atlantico</div>
                            <div>+57 301 2523319</div>
                            <div>info&#64;crediplus.com.co</div>
                            <a target="_blank" href="https://crediplus.com.co">crediplus.com.co</a>
                        </div>
                    </div>
                </div>

                <div class="mt-12 grid grid-cols-12 gap-x-1">
                    <!-- Sección de Detalles de Pago -->
                    <div class="col-span-12 text-xl font-bold mb-4">
                        Detalles de Pago
                    </div>
                    <div class="text-secondary col-span-4 text-lg font-medium">
                        Nombre completo
                    </div>
                    <div class="text-secondary col-span-4 text-lg font-medium">
                        Factura No
                    </div>
                    <div class="text-secondary col-span-4 text-right text-lg font-medium">
                        Valor
                    </div>
                    <div class="col-span-12 my-4 border-b"></div>
                    <ng-container *ngFor="let item of detalleFactura.detallePagoTrabajador">
                        <div class="col-span-4 text-md tracking-tight">
                            {{ item.nombreCompleto }}
                        </div>
                        <div class="col-span-4 text-md tracking-tight">
                            {{ item.numeroFactura }}
                        </div>
                        <div class="col-span-4 self-center text-right">
                            {{ item.valorPago | currency: 'USD' }}
                        </div>
                        <div class="col-span-12 my-4 border-b"></div>
                    </ng-container>

                    <!-- Sección de Abonos -->
                    <div class="col-span-12 text-xl font-bold mt-8 mb-4">
                        Abonos Realizados
                    </div>
                    <div class="text-secondary col-span-4 text-lg font-medium">
                        Fecha de abono
                    </div>
                    <div class="text-secondary col-span-4 text-right text-lg font-medium">
                        Factura No
                    </div>
                    <div class="text-secondary col-span-4 text-lg font-medium">
                        Valor abonado
                    </div>
                    <div class="col-span-12 my-4 border-b"></div>
                    <ng-container *ngFor="let abono of detalleFactura.abonosPagos">
                        <div class="col-span-4 text-md tracking-tight">
                            {{ abono.fechaAbono | date: 'dd/MM/yyyy' }}
                        </div>
                        <div class="col-span-4 self-center text-right">
                            {{ abono.numeroFactura }}
                        </div>
                        <div class="col-span-4 text-md tracking-tight">
                            {{ abono.valorAbonado | currency: 'USD' }}
                        </div>
                        <div class="col-span-12 my-4 border-b"></div>
                    </ng-container>

                    <!-- Spacer -->
                    <div class="col-span-12 mt-16"></div>

                    <!-- Subtotal -->
                    <div class="text-secondary col-span-2 self-center font-medium tracking-tight">
                        Observaciones
                    </div>
                    <div class="col-span-10 text-right text-lg">{{detalleFactura.observacion}}</div>
                    <div class="text-secondary col-span-10 self-center font-medium tracking-tight">
                        Subtotal
                    </div>
                    <div class="col-span-2 text-right text-lg">{{detalleFactura.total | currency: 'USD'}}</div>

                    <!-- Divider -->
                    <div class="col-span-12 my-3 border-b"></div>

                    <!-- Total -->
                    <div class="text-secondary col-span-10 self-center text-2xl font-medium tracking-tight">
                        Total a cobrar
                    </div>
                    <div class="col-span-2 text-right text-2xl font-medium">
                        {{detalleFactura.total | currency: 'USD'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
}
