<div class="w-full sm:bg-card sm:rounded-2xl  sm:mx-0 mx-auto" >
    <div class="">
        <!-- Title -->
        <div
            class="mt-8 text-3xl font-semibold leading-tight tracking-tight text-center"
        >
            {{_matData.edit ? 'Actualizar empresa' : 'Agregar empresa'}}
        </div>

        <!-- Sign Up form -->
        <form class="mt-8" [formGroup]="form">
            <div>
                <p class="font-bold mb-4 text-2xl">Información general</p>
                <div class="flex flex-col sm:flex-row  mb-4">
                        <div
                            class="fcursor-pointer"
                            (click)="twoStepToggle.toggle()"
                        >
                            <div class="font-medium leading-6">
                                Estado {{form.get('estado').value ? 'Activo' : 'Inactivo'}}
                            </div>
                        </div>
                        <mat-slide-toggle
                            class="ml-4"
                            [color]="'primary'"
                            [formControlName]="'estado'"
                            #twoStepToggle
                        >
                        </mat-slide-toggle>

                </div>
                <div class="flex flex-col sm:flex-row  mb-4 gap-2">

                    <!-- Name field -->
                    <mat-form-field class="w-full" floatLabel="always">
                        <mat-label>Nit</mat-label>
                        <input  matInput [formControlName]="'nit'" placeholder="Nit"/>
                    </mat-form-field>

                    <!-- Name field -->
                    <mat-form-field class="w-full" floatLabel="always">
                        <mat-label>Razón social</mat-label>
                        <input  matInput [formControlName]="'razonSocial'" placeholder="Razón social" />
                    </mat-form-field>
                </div>

                <div class="flex flex-col sm:flex-row  mb-4 gap-2">
                    <!-- Name field -->
                    <mat-form-field class="w-full" floatLabel="always">
                        <mat-label>Correo</mat-label>
                        <input  matInput  [formControlName]="'correo'" placeholder="Correo electronico" />
                    </mat-form-field>

                    <!-- Name field -->
                    <mat-form-field class="w-full" floatLabel="always">
                        <mat-label>Teléfono</mat-label>
                        <input  matInput     [formControlName]="'telefono'" placeholder="Teléfono" />
                    </mat-form-field>
                </div>

                <div class="flex flex-col sm:flex-row  mb-4 gap-2">

                    <mat-form-field  class="w-full" floatLabel="always">
                        <mat-label>Departamento</mat-label>
                        <mat-select
                            #data
                            (selectionChange)="onSelected($event)"
                            [formControlName]="'idDepartamento'"
                            placeholder="Departamento"
                        >
                            <ng-container *ngIf="departamentos$ | async as departamentos">
                                <mat-option [value]="departamento.id" *ngFor="let departamento of departamentos.data">{{departamento.nombre}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field  class="w-full" floatLabel="always">
                        <mat-label>Ciudad</mat-label>
                        <mat-select [formControlName]="'idMunicipio'" placeholder="Ciudad">
                            <ng-container *ngIf="municipios$ | async as municipios">
                                <mat-option [value]="municipio.id" *ngFor="let municipio of municipios.data">{{municipio.nombre}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="flex flex-col sm:flex-row  mb-4">
                    <mat-form-field class="w-full" floatLabel="always">
                        <mat-label>Dirección</mat-label>
                        <input
                            matInput [formControlName]="'direccion'" placeholder="Dirección"/>
                    </mat-form-field>

                </div>

            </div>

            <div>
                <p class="font-bold mb-4 text-2xl">Información de contrato</p>
                <div class="flex flex-col sm:flex-row  mb-4 gap-2">
                    <mat-form-field  class="w-full" floatLabel="always">
                        <mat-label>Tipo de empresa</mat-label>
                        <mat-select [formControlName]="'idTipoEmpresa'" placeholder="Tipo de empresa">
                            <ng-container *ngIf="tiposEmpresas$ | async as tipos">
                                <mat-option [value]="tipo.id" *ngFor="let tipo of tipos.data">{{tipo.nombre}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field  class="w-full" floatLabel="always">
                        <mat-label>Subscripción</mat-label>
                        <mat-select [formControlName]="'idSuscripcion'" placeholder="Subscripción">
                            <ng-container *ngIf="subcripciones$ | async as subscripciones">
                                <mat-option [value]="item.id" *ngFor="let item of subscripciones.data">{{item.nombre}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>

                </div>

                <div class="flex flex-col sm:flex-row  mb-4 gap-2">
                    <mat-form-field class="w-full" floatLabel="always">
                        <mat-label>Valor subscripción</mat-label>
                        <input
                            matInput [formControlName]="'valorSuscripcion'" mask="separator.0" thousandSeparator="." placeholder="Valor subcripción" />
                    </mat-form-field>

                    <mat-form-field class="w-full" floatLabel="always">
                        <mat-label>Porcentaje cobro</mat-label>
                        <input
                            matInput [formControlName]="'porcCobro'"  placeholder="Porcentaje %" />
                    </mat-form-field>
                </div>

                <div class="flex flex-col sm:flex-row  mb-4">
                    <mat-form-field  class="w-full" floatLabel="always">
                        <mat-label>Fecha de cobro</mat-label>
                        <input matInput [matDatepicker]="picker"  [formControlName]="'fechaCobro'" placeholder="Fecha de cobro">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                </div>

            </div>

            <div class="flex flex-wrap justify-end gap-2.5 ">
                <button
                    class="sm:w-auto w-full lg:mt-6 bg-credigray-100 rounded-lg transition duration-200 text-white font-semibold"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="closeDialog()"
                >

                    <span> Cancelar </span>
                </button>

                <button
                    class="sm:w-auto w-full lg:mt-6 bg-crediblue-50 rounded-lg transition duration-200 text-white font-semibold"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="onSave()"
                >

                    <span> Guardar </span>
                </button>

            </div>

        </form>

    </div>
</div>

