<div class="w-full sm:bg-card sm:rounded-2xl sm:mx-0 mx-auto" >
    <div class="">
        <!-- Title -->
        <div
            class="mt-8 text-3xl font-semibold leading-tight tracking-tight text-center"
        >
            {{_matData.edit ? 'Actualizar capital' : 'Agregar capital'}}
        </div>

        <!-- Sign Up form -->
        <form class="mt-8" [formGroup]="form">
            <div>
                <p class="font-bold mb-4 text-2xl">Información de inversor</p>
                <div class="flex flex-col sm:flex-row gap-2.5">
                    <mat-form-field class="w-full" floatLabel="always">
                        <mat-label>Inversor</mat-label>
                        <input  matInput [formControlName]="'nombreInversor'" placeholder="Inversor"/>
                    </mat-form-field>

                    <!-- Name field -->
                    <mat-form-field class="w-full" floatLabel="always">
                        <mat-label>Rubro a invertir</mat-label>
                        <input  matInput [formControlName]="'rubroInversion'" placeholder="Valor" [mask]="'separator.0'" thousandSeparator="."  />
                    </mat-form-field>
                </div>

                <div class="flex flex-col sm:flex-row gap-2.5">
                    <mat-form-field class="w-full" floatLabel="always">
                        <mat-label>Tasa de interes inversor</mat-label>
                        <input  matInput [formControlName]="'tasaInteresInversor'"
                                placeholder="Tasa de interes inversor"
                                [thousandSeparator]="'.'"
                                [dropSpecialCharacters]="true"
                                [mask]="'9.00'" />
                    </mat-form-field>

                    <mat-form-field  class="w-full" floatLabel="always">
                        <mat-label>Plazo pago invesor</mat-label>
                        <input matInput [matDatepicker]="picker"  [formControlName]="'plazoPagoInversor'" placeholder="Plazo de pago">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="flex flex-col sm:flex-row gap-2.5">
                    <mat-form-field  class="w-full" floatLabel="always">
                        <mat-label>Detalle de la inversión</mat-label>
                        <textarea matInput placeholder="Detalle inversión" [formControlName]="'detalleInversion'"></textarea>
                    </mat-form-field>
                </div>

            </div>




            <div class="flex flex-wrap justify-end gap-2.5 ">
                <button
                    class="sm:w-auto w-full sm:mt-6 bg-credigray-100 rounded-lg transition duration-200 text-white font-semibold"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="closeDialog()"
                >

                    <span> Cancelar </span>
                </button>

                <button
                    class="sm:w-auto w-full sm:mt-6 bg-crediblue-50 rounded-lg transition duration-200 text-white font-semibold"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="onSave()"
                >

                    <span> Guardar </span>
                </button>

            </div>

        </form>

    </div>
</div>

