<div class="w-full sm:bg-card sm:rounded-2xl sm:w-96 max-w-96 sm:mx-0 mx-auto" >
    <div class="">
        <!-- Title -->
        <div
            class="mt-8 text-3xl font-extrabold leading-tight tracking-tight text-center"
        >
            Nuevo capital inversor
        </div>

        <!-- Sign Up form -->
        <form class="mt-8">
            <!-- Name field -->
            <mat-form-field class="w-full">
                <mat-label>Nombre inversor</mat-label>
                <input  matInput />
            </mat-form-field>

            <!-- Name field -->
            <mat-form-field class="w-full">
                <mat-label>Rubro inversor</mat-label>
                <input  matInput />
            </mat-form-field>

            <mat-form-field  class="w-full">
                <mat-label>Detalle inverión</mat-label>
                <textarea matInput placeholder="Detalle"></textarea>
            </mat-form-field>

            <div class="flex flex-wrap justify-between ">
                <button
                    class="fuse-mat-button-large mt-6 bg-credigray-100"
                    mat-flat-button
                    [color]="'primary'"
                >

                    <span> Cancelar </span>
                </button>

                <button
                    class="fuse-mat-button-large mt-6 bg-crediblue-50"
                    mat-flat-button
                    [color]="'primary'"
                >

                    <span> Guardar </span>
                </button>

            </div>

        </form>

    </div>
</div>

