<div class="w-full sm:bg-card sm:rounded-2xl sm:w-96 max-w-96 sm:mx-0 mx-auto" >
    <div class="">
        <!-- Title -->
        <div
            class="mt-8 text-3xl font-semibold leading-tight tracking-tight text-center"
        >
            {{_matData.edit ? 'Actualizar capital' : 'Agregar capital'}}
        </div>

        <!-- Sign Up form -->
        <form class="mt-8" [formGroup]="form">
            <!-- Name field -->
            <mat-form-field class="w-full">
                <mat-label>Inversor</mat-label>
                <input  matInput [formControlName]="'nombreInversor'" placeholder="Inversor"/>
            </mat-form-field>

            <!-- Name field -->
            <mat-form-field class="w-full">
                <mat-label>Rubro a invertir</mat-label>
                <input  matInput [formControlName]="'rubroInversion'" placeholder="Valor" [mask]="'separator.0'" thousandSeparator="."  />
            </mat-form-field>

            <!-- Name field -->
            <mat-form-field class="w-full">
                <mat-label>Fuente de ingreso proveedor</mat-label>
                <input  matInput [formControlName]="'fuenteIngresoProveedor'"   />
            </mat-form-field>

            <!-- Name field -->
            <mat-form-field class="w-full">
                <mat-label>Tasa de interes proveedor</mat-label>
                <input  matInput [formControlName]="'tasaInteresProveedor'" placeholder="Valor" [decimalMarker]="','" [thousandSeparator]="'.'"  [dropSpecialCharacters]="false" [mask]="'separator.2'"  />
            </mat-form-field>

            <!-- Name field -->
            <mat-form-field class="w-full">
                <mat-label>Tasa de interes inversor</mat-label>
                <input  matInput [formControlName]="'tasaInteresInversor'" placeholder="Valor" [decimalMarker]="','" [thousandSeparator]="'.'"  [dropSpecialCharacters]="false"  [mask]="'separator.2'"   />
            </mat-form-field>


            <mat-form-field  class="w-full">
                <mat-label>Detalle de la inversión</mat-label>
                <textarea matInput placeholder="Detalle inversión" [formControlName]="'detalleInversion'"></textarea>
            </mat-form-field>

            <div class="flex flex-wrap justify-end gap-2.5 ">
                <button
                    class="fuse-mat-button-large mt-6 bg-credigray-100 rounded-lg transition duration-200 text-white font-semibold"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="closeDialog()"
                >

                    <span> Cancelar </span>
                </button>

                <button
                    class="fuse-mat-button-large mt-6 bg-crediblue-50 rounded-lg transition duration-200 text-white font-semibold"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="onSave()"
                >

                    <span> Guardar </span>
                </button>

            </div>

        </form>

    </div>
</div>

