<div
    class="relative min-w-0 flex h-full w-full flex-col dark:bg-transparent sm:overflow-hidden sm:inset-0"
>
    <div
        class="relative flex flex-0 flex-col px-6 py-6 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <div class="text-3xl font-semibold tracking-tight">Dashboard de Comparativas Financieras</div>

    </div>
    <div class="inline-block p-4 sm:p-2 print:p-0 w-full">
        <fuse-alert
            [type]="'info'"
            [appearance]="'outline'">
            <span fuseAlertTitle>Información</span>
            Recopilando información
        </fuse-alert>
    </div>


</div>
